.new-width {
    --number-init:45px;
    width: calc(100vw - var(--number-init));
    z-index: 1000;
    left:var(--number-init);
    transition: all 0.4s;
}
.z-index-sidebar{
    z-index: 10;
}
.active{
    /*Empuje de todo el cuerpo, es la anchura de la barra lateral.*/
    left: 160px;
}
.bi{
    margin-right: 10px;
}
.side-bar-personalisada .item{
    transition: all 0.6s;
}
.side-bar-personalisada .item:hover{
    background: var(--bs-cyan);
}